body {
    background-color: black;
}

.cima {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(0, 0, 0); /* Pode remover se não quiser cor de fundo */
    padding: 10px 20px;
    z-index: 1000;
}

.nome_site {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.nome_site:hover {
    cursor: pointer;
}

.botoes_login_criarconta {
    margin-right: 40px;
}

.botoes {
    gap: 30px;
    display: flex;
    margin-top: 10px;
}

.entrar, .criar_conta, .sobre, .api, .suporte {
    outline: none; /* Remove a linha azul */
    border: none; /* Remove qualquer borda que possa aparecer */
}

.entrar {
    border-radius: 40px;
    color: white;
    background-color: black;
    width: 120px; /* Ajuste para um tamanho mais proporcional */
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    font-size: 17px;
}

.entrar:hover {
    cursor: pointer;
    border-color: black;
    opacity: 0.8;
}

.criar_conta {
    border-radius: 40px;
    color: white;
    background-color: #5e5e5e; /* Cinza escuro */
    width: 150px;
    height: 40px; /* Um pouco maior para melhor usabilidade */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease-in-out, opacity 0.3s ease-in-out;
    font-size: 15px;
}

.criar_conta:hover {
    cursor: pointer;
    background-color: #4a4a4a; /* Tom mais escuro no hover */
    opacity: 0.9;
}

.sobre {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.sobre:hover {
    cursor: pointer;
}

.api {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.api:hover {
    cursor: pointer;
}

.suporte {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.suporte:hover {
    cursor: pointer;
}

.nome123 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 190px;
    margin-left: 310px;
    margin-top: 190px;
    color: white;
}

.imagem_tela {
    margin-top: -40040px;
    margin-left: 335px;
}